In [1]:
#!pip install kafka-python

Collecting kafka-python
  Obtaining dependency information for kafka-python from https://files.pythonhosted.org/packages/e6/35/e8bfed5425e8fe685bd03ec3f5135ee8b88c11558baa59c0d12fbd2a20ae/kafka_python-2.2.15-py2.py3-none-any.whl.metadata
  Downloading kafka_python-2.2.15-py2.py3-none-any.whl.metadata (10.0 kB)
Downloading kafka_python-2.2.15-py2.py3-none-any.whl (309 kB)
   ---------------------------------------- 0.0/309.8 kB ? eta -:--:--
   ---------------------------------------- 0.0/309.8 kB ? eta -:--:--
   - -------------------------------------- 10.2/309.8 kB ? eta -:--:--
   --- ----------------------------------- 30.7/309.8 kB 660.6 kB/s eta 0:00:01
   --- ----------------------------------- 30.7/309.8 kB 660.6 kB/s eta 0:00:01
   ------- ------------------------------- 61.4/309.8 kB 328.2 kB/s eta 0:00:01
   ----------- --------------------------- 92.2/309.8 kB 403.5 kB/s eta 0:00:01
   ------------ ------------------------- 102.4/309.8 kB 368.6 kB/s eta 0:00:01
   --------------- ---------------------- 122.9/309.8 kB 400.9 kB/s eta 0:00:01
   ------------------ ------------------- 153.6/309.8 kB 437.1 kB/s eta 0:00:01
   --------------------- ---------------- 174.1/309.8 kB 419.0 kB/s eta 0:00:01
   ---------------------- --------------- 184.3/309.8 kB 412.5 kB/s eta 0:00:01
   ------------------------- ------------ 204.8/309.8 kB 429.5 kB/s eta 0:00:01
   --------------------------- ---------- 225.3/309.8 kB 405.0 kB/s eta 0:00:01
   ---------------------------- --------- 235.5/309.8 kB 389.8 kB/s eta 0:00:01
   ------------------------------- ------ 256.0/309.8 kB 413.7 kB/s eta 0:00:01
   ----------------------------------- -- 286.7/309.8 kB 411.4 kB/s eta 0:00:01
   ----------------------------------- -- 286.7/309.8 kB 411.4 kB/s eta 0:00:01
   -------------------------------------- 309.8/309.8 kB 399.3 kB/s eta 0:00:00
Installing collected packages: kafka-python
Successfully installed kafka-python-2.2.15

In [10]:
import pandas as pd
from kafka import KafkaConsumer, KafkaProducer
from time import sleep
from json import dumps
import json
from s3fs import S3FileSystem

In [11]:
producer = KafkaProducer(
    bootstrap_servers=['16.16.207.232:9092'],  # Use your public IP
    value_serializer=lambda x: dumps(x).encode('utf-8')
)

In [14]:
producer.send('demotopic', value="Hello Kafka")

In [12]:
df=pd.read_csv('indexProcessed.csv')
df

,Index,Date,Open,High,Low,Close,Adj Close,Volume,CloseUSD
0,HSI,1986-12-31,2568.300049,2568.300049,2568.300049,2568.300049,2568.300049,0.0,333.879006
1,HSI,1987-01-02,2540.100098,2540.100098,2540.100098,2540.100098,2540.100098,0.0,330.213013
2,HSI,1987-01-05,2552.399902,2552.399902,2552.399902,2552.399902,2552.399902,0.0,331.811987
3,HSI,1987-01-06,2583.899902,2583.899902,2583.899902,2583.899902,2583.899902,0.0,335.906987
4,HSI,1987-01-07,2607.100098,2607.100098,2607.100098,2607.100098,2607.100098,0.0,338.923013
...,...,...,...,...,...,...,...,...,...
104219,J203.JO,2021-05-25,66054.921880,66812.453130,66022.976560,66076.679690,66076.679690,0.0,4625.367578
104220,J203.JO,2021-05-26,66076.679690,66446.367190,66030.351560,66108.226560,66108.226560,0.0,4627.575859
104221,J203.JO,2021-05-27,66108.226560,66940.250000,66102.546880,66940.250000,66940.250000,0.0,4685.817500
104222,J203.JO,2021-05-28,66940.250000,67726.562500,66794.609380,67554.859380,67554.859380,0.0,4728.840157
104223,J203.JO,2021-05-31,67554.859380,68140.851560,67554.859380,67964.039060,67964.039060,0.0,4757.482734

In [21]:
df.head()

,Index,Date,Open,High,Low,Close,Adj Close,Volume,CloseUSD
0,HSI,1986-12-31,2568.300049,2568.300049,2568.300049,2568.300049,2568.300049,0.0,333.879006
1,HSI,1987-01-02,2540.100098,2540.100098,2540.100098,2540.100098,2540.100098,0.0,330.213013
2,HSI,1987-01-05,2552.399902,2552.399902,2552.399902,2552.399902,2552.399902,0.0,331.811987
3,HSI,1987-01-06,2583.899902,2583.899902,2583.899902,2583.899902,2583.899902,0.0,335.906987
4,HSI,1987-01-07,2607.100098,2607.100098,2607.100098,2607.100098,2607.100098,0.0,338.923013

In [30]:
dict_stock=df.sample(1).to_dict(orient="records")

In [3]:
# while True:
#     producer.send("demotopic", value=dict_stock)

In [ ]:
producer.flush()

NameError: name 'consumer' is not defined